html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(24, 24, 24);
}

#anogram {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    color:white;
}

p {
    color: #777;
}

