html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(24, 24, 24);
    
}

#anogram {
    width: 100%;
    height: 100%;
    color: whitesmoke;  
}

#title {
    color:white;
}

p {
    color: #777;
}


/* Override metro4 gutter colors */
.splitter > .gutter {
  border: 1px solid rgb(5, 5, 5);
  background-color: rgb(5, 5, 5);
}
.splitter > .gutter.active {
  background-color: rgb(55, 55, 55);
}
.splitter > .gutter::before {
    background-color: rgb(35, 35, 35);
  }

